html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 1px 2px 15px 4px #000000;
 }

.liga-nav{
  background-color: #6dff8d34;
}

.head2head{
  background-color: #56ce7034;
}

.tablaCompeticiones {
  border-radius: 2rem;
}

.tablaHead {
  background-color:#208454;
  border-radius: 2rem;
}

.team_auxiliar:hover{
  cursor: pointer;
  color: red;
  font-weight:  bold;
}

.compt_auxiliar:hover{
  cursor: pointer;
  color: #000;
  font-weight:  bold;
}